APP_ENV=dev
APP_SECRET=

COMPOSE_PROJECT_NAME=habits-su
APP_DEBUG=true

NGINX_HTTP_PORT=8082
NGINX_HTTPS_PORT=443

# Production only: used by Caddy in docker-compose.prod.yml.
PRIMARY_DOMAIN=habits.by
ACME_EMAIL=admin@habits.by

POSTGRES_DB=symfony
POSTGRES_USER=symfony
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

REDIS_PORT=6379

###> doctrine/doctrine-bundle ###
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
REDIS_TRANSPORT_URL=redis://redis:${REDIS_PORT}
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
LOCK_DSN=flock
