APP_ENV=dev
APP_SECRET=

TELEGRAM_CHAT_ID=1002113930727
TELEGRAM_API_KEY=6563920305:AAH942VJJWVZAR_5VUdpSG6x4GrgX2GOF1s

# DOCKER SETTINGS
CODE_DIR=.
COMPOSE_PROJECT_NAME=docker-symfony
APP_DEBUG=true

NGINX_HTTP_PORT=8082
NGINX_HTTPS_PORT=443

POSTGRES_DB=symfony
POSTGRES_USER=symfony
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PORT=6379

USER_ID=1000
USER_NAME=dmitry
GROUP_ID=1000
GROUP_NAME=dmitry

###> doctrine/doctrine-bundle ###
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
RABBITMQ_TRANSPORT_DSN=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}/%2f
REDIS_TRANSPORT_URL=redis://redis:${REDIS_PORT}
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

